.Car span {
    position: absolute;
    top: -8px;
    left: -8px;
    width: 150px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.Car span span {
    position: absolute;
    left: -60px;
    top: 50px;
    width: 250px;
    height: 27px;
    transform: rotate(-45deg);
    transform: rotate(-45deg) translateY(-20px);
    letter-spacing: 0.02em;
}