@font-face {
    font-family: bebasFont;
    src: url(../fonts/BebasNeue-Regular.ttf);
}
* {
    /* border: 2px solid red; */
}
.Car {
    width: 270px;
    height: 370px;
    border: 2px solid black;
    border-radius: 20px;
    font-family: bebasFont;
    display: inline-block;
    margin: 10px 13px;
    position: relative; /* seems unnecessary but it stops .Car span of going out of the area due to its absolute: position */
}
.Car span {
    position: absolute;
    top: -8px;
    left: -8px;
    width: 150px;
    height: 150px;
    /* background-color: red; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.Car span span {
    position: absolute;
    /* position: relative; */
    left: -60px;
    top: 50px;
    width: 250px;
    height: 27px;
    transform: rotate(-45deg);
    transform: rotate(-45deg) translateY(-20px);
    letter-spacing: 0.02em;
    /* box-shadow: 50px 50px 100px rgba(0, 0, 0, 1); */
}
/* Little shadows of ribbon */
.Car .container-ribbon--green::after, 
.Car .container-ribbon--yellow::after, 
.Car .container-ribbon--red::after {
    content: ''; /* must be to show color */
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 30.5px;
    left: 0;
    z-index: -1;
}
.Car .container-ribbon--green::after {
    background-color: hsl(120, 100%, 15%);
    box-shadow: 109.5px -110px hsl(120, 100%, 15%); /* Line responsible for the second shadow (the one higher) */
}
.Car .container-ribbon--yellow::after {
    background-color: hsl(39, 100%, 40%);
    box-shadow: 109.5px -110px hsl(39, 100%, 40%); /* Line responsible for the second shadow (the one higher) */
}
.Car .container-ribbon--red::after {
    background-color: hsl(0, 100%, 40%);
    box-shadow: 109.5px -110px hsl(0, 100%, 40%); /* Line responsible for the second shadow (the one higher) */
}
.Car .ribbon--green {
    background: green;
}
.Car .ribbon--yellow {
    background: orange;
}
.Car .ribbon--red {
    background: red;
}
.Car img {
    width: 100%;
    max-height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.Car__title {
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}
.Car__description {
    width: 160px;
    margin: 0 auto;
}
.Car__description div {
    width: 80px;
    display: inline-block;
    height: 30px;
}
.Car__description__icons {
    max-width: 20px;
    max-height: 16px;
    margin-right: 8px;
}

.Car button {
    font-size: 20px;
    font-family: bebasFont;
    height: 35px;
    border-radius: 5px;
    display: block;
    width: 100px;
    margin: 10px auto;
    
    background-color: white;
    color: black;
    transition-property: color;
    transition-property: background-color;
    /* transition-duration: 0.5s; */
    transition-duration: 1s;
    /* transition-delay: 2s; */
    text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
.Car button:hover {
    background-color: black;
    color: white;
}