.container-slider {
    width: 790px;
    height: 500px;
    position: relative;
    display: inline-block;
}
.ImageSlide {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    z-index: 3;
    transition: background-image 800ms linear 0.1s;
}
.container-slider__left-arrow,
.container-slider__right-arrow {
    cursor: pointer;
    position: absolute;
    font-size: 150px; 
    top: -20px;
    top: 0px;
    height: 100%;   
    
    display: flex;
    align-items: center;
    
    color: hsl(0, 100%, 40%, 0);
    z-index: 4;
}
.container-slider__left-arrow p,
.container-slider__right-arrow p {
    position: relative;
    bottom: 20px;
}
.container-slider__right-arrow {
    right: 0;
}
.ImageSlide:hover  ~ .container-slider__right-arrow,     
.ImageSlide:hover  ~ .container-slider__left-arrow,
.container-slider__left-arrow:hover,
.container-slider__right-arrow:hover {      
    background-color: hsl(0, 0%, 0%, 0.4);
    color: hsl(0, 100%, 40%);
    transition-duration: 1s;
}
* {
    /* border: 1px solid red; */
}
.container-slider__dots-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 100%;
    margin-bottom: 20px;
}
.container-slider__dots-area div {
    margin: 3px 1px;
    cursor: pointer;
    font-size: 40px;
    color: hsl(0, 100%, 40%);
    height: 20px;
    line-height: 20px;
}
/* ================= Fullscreen gallery ================== */
#gallery-modal-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 5;
    background: hsl(0, 0%, 0%, 0.90);
}
#close-gallery {
    height: 60px;
    width: 60px;
    transform: rotate(45deg);
    font-size: 100px;
    color: hsl(0, 0%, 100%, 0.9);
    cursor: pointer;
    
    position: fixed;
    top: 10vh;
    right: 0;
    z-index: 8;
}
#bigSlide,
#bigSlide img {
    width: 80%;
    height: 80%;
    position: fixed;
    top: 100px;
    left: 10%;
    z-index: 7;
    /* width: calc(80% - 180px); */
}
#bigSlide img {
    object-fit: scale-down;
    max-width: none;
    max-height: none;
    height: none;

}
.gallery-modal__arrow {
    font-size: 280px;
    color: hsl(0, 0%, 100%, 0.7);
    position: fixed;
    z-index: 8;
    top: 25%;
    cursor: pointer;
}
.gallery-modal__right-arrow {
    right: 3%;
}
.gallery-modal__left-arrow {
    left: 3%;
}

@media (max-width: 1200px) {
    .gallery-modal__arrow {
        top: 35%;
        font-size: 180px;
    }
    .gallery-modal__right-arrow {
        right: 1%;
    }
    .gallery-modal__left-arrow {
        left: 1%;
    }
}
@media(max-width: 1160px) {
    .container-slider {
        display: block;
        margin: 0 auto;
    }
}
@media (max-width: 900px) {
    .container-slider {
        width: 90vw;
    }
    .gallery-modal__arrow {
        top: 38%;
        font-size: 120px; 
    }
    .gallery-modal__arrow p {
        position: relative;
        bottom: 20px;
    }
}
@media (max-width: 750px) {
    .container-slider {
        height: 70vw;
    }
    #bigSlide,
    #bigSlide img {
        width: 100vw;
        left: 0;
    }
    .gallery-modal__arrow {
        top: 42%;
        font-size: 100px;
        /* color: hsl(0, 0%, 0%, 0.8); */
    }
    .gallery-modal__arrow {
        font-size: 80px;
    }
    
}
@media (max-width: 500px) {
    .gallery-modal__arrow {
        top: 44%;
        font-size: 80px;
    }
    .gallery-modal__arrow {
        font-size: 60px;
    }
    .gallery-modal__arrow p {
        bottom: 10px;
    }
}
@media (max-width: 350px) {
    .gallery-modal__arrow {
        top: 47%;
        /* font-size: 80px; */
    }
    .gallery-modal__arrow {
        font-size: 40px;
    }
    .gallery-modal__arrow p {
        bottom: 6px;
    }
}