
    /* ---Arrows--- */
.ImageSlide:hover  ~ .container-slider__right-arrow,     
.ImageSlide:hover  ~ .container-slider__left-arrow,
.container-slider__left-arrow:hover,
.container-slider__right-arrow:hover {      
    background-color: hsl(0, 0%, 0%, 0.4);
    transition-duration: 1s;
}
.ImageSlide:hover ~ .container-slider__right-arrow img,     
.ImageSlide:hover ~ .container-slider__left-arrow img,
.container-slider__left-arrow:hover > img,
.container-slider__right-arrow:hover > img {
    opacity: 1;
    transition: opacity 1s;
}