@font-face {
    font-family: bebasFont;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

.SiteHeader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 17px;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.SiteHeader h2 {
    font-family: bebasFont;
    font-weight: 100;
    width: 290px;
    line-height: 55px;
    display: inline-block;
    height: 55px;
    margin: 0;
    padding-left: 5px;
}
.SiteHeader__navbar {
    list-style-type: none; /* Remove bullets */   
    width: 610px;
    height: 55px;
    margin: 0;
    display: inline-block;
}
.SiteHeader__navbar li {
    display: inline-block;
    /* width: 120px; */
    padding: 16px;
}
.SiteHeader__navbar li a {
    text-decoration: none;
    color: black;
}
.SiteHeader__navbar li a:hover {
    color: rgb(208, 208, 208);
    /* text-decoration: underline; */
    /* transition: underline 0.2s; */
    transition: color 0.25s;
}
.SiteHeader .active {
    color: rgb(208, 208, 208);
}
.SiteHeader__phoneData {
    width: 180px;
    /* display: flex; */
    display: inline-block;
    /* margin-left: 80px; */
    float: right;
}
.SiteHeader__navbar,
.SiteHeader__phoneData,
.SiteHeader__phoneData p {
    height: 55px;
}
.SiteHeader__phoneData img {
    height: 15px;
    margin:  auto;
    display: inline-block;
    position: relative;
    top: 1px;
}
.SiteHeader__phoneData p {
    /* width: 20px; */
    display: inline-block;
    margin-left: 5px;
}

#SiteHeader__menuBtn {
    display: none;
}

/* Traditional navbar is replaced by menu button */
@media (max-width: 1200px) {
    .SiteHeader {
        width: 100vw;
    }
    .SiteHeader__navbar {
        padding: 0;
    }
}
@media (max-width: 1090px) {
    .SiteHeader__navbar {
        width: 514px;
    }
    .SiteHeader__navbar li {
        padding: 16px 8px;
    }
}
@media (max-width: 990px) {
    .SiteHeader__navbar {
        position: absolute;
        width: 300px;
        top: 55px;
        right: 0;
        z-index: 2;  
    }
    .SiteHeader__navbar--hidden {
        display: none;
    }
    .SiteHeader__navbar li {
        background-color: rgb(255, 255, 255);
        width: 100%;
        text-align: center;
        z-index: 2;
        padding: 13px 0;
        border-top: 0.1px solid black;
        border-left: 0.1px solid black;
    }
    .SiteHeader__navbar li:hover {
        background-color: rgb(229, 229, 229);
        /* background-color: rgb(255, 255, 255); */
        transition: color 0.5s;
    }
    .SiteHeader__phoneData {
        /* float: none; */
        margin-right: 5px;
    }
    
    #SiteHeader__menuBtn {
        height: 18px;
        width: 18px;
        display: inline-block;
        margin: 20px 26px 0 20px;
        float: right;
    }
}

@media (max-width: 590px) {
    .SiteHeader__phoneData {
        display: none;
    }
}

@media (max-width: 360px) {
    .SiteHeader h2 {
        height: 70px;
        line-height: 35px;
        width: 155px;
    }
    .SiteHeader__navbar {
        top: 70px;
        width: 100vw;
    }
}