/* *{border: 1px solid red;} */
.CarPage {
    width: 1190px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.CarPage .container-slider {
    margin-left: 40px;
}
.CarPage__price__area__number,
.CarPage__price__area__dash {
    color: hsl(0, 100%, 40%);
}
.CarPage__table tr:nth-child(n+2) {
    border-top: 0.1px solid hsl(0, 0%, 30%);
}
.CarPage__table td {
    margin: 0;
    line-height: 1.8;
}
/* Data cells of first column */
.CarPage__table td:nth-child(1) {
    /* font-weight: 500;
    color: hsl(0, 0%, 30%);
    vertical-align: bottom; */
}
/* Data cells of second column */
@media(max-width: 1250px) {
    .CarPage {
        width: 100%;
    }

    .CarPage .container-slider {
        display: block;
        width: 790px;
        margin: 0 auto;
    }
}
@media(max-width: 900px) {
    .CarPage .container-slider {
        width: 100%;
    }
}