/* About and Financing page */
.simple-text {
    width: 1000px;
    margin: 0 auto;
}
.simple-text h1 {
    font-family: bebasFont;
    font-weight: 500;
    text-decoration: underline 2px;
    text-underline-offset: 8px;
}

@media(max-width: 1000px) {
    .simple-text {
        width: 90vw;
        margin: 0 auto;
    }
}

/* Offer page */
.car-windows-area {
    width: 1200px;
    margin: 0 auto;
    /* justify-content: center;
    align-items: center; */
}
.car-windows-area h1 {
    font-family: bebasFont;
    font-weight: 500;
    text-align: center;
    text-decoration: underline 2px;
    text-underline-offset: 8px;
}
@media(max-width: 1200px) {
    .car-windows-area {
        width: 900px;
    }
}
@media(max-width: 910px) {
    .car-windows-area {
        width: 610px;
    }
}
@media(max-width: 620px) {
    .car-windows-area {
        width: 285px;
    }
}

/* Contact page */
.contact-area {
    font-family: bebasFont;
    width: 850px;
    margin: 0 auto;
    display: flex;
}
.contact-area__info,
.contact-area__form {
    /* height: 305px; */
    display: inline-block;
}
.contact-area__form form {
    width: 600px;
}
.contact-area__form form input, 
.contact-area textarea {
    font-family: bebasFont;
    font-size: 18px;
    width: 550px;
    height: 26px;
    /* line-height: 30px; */
    border-radius: 5px;
    margin: 3px 0;
    padding-left: 5px;
    padding-top: 3px;
    border: 2px solid black;
}
.contact-area__form form textarea {
    height: 180px;
    line-height: 30px;
}
.contact-area h3 {
    letter-spacing: 0.1em;
    font-size: 22px;
    margin: 17px 0 10px;
}
.contact-area__info {
    width: 250px;
}
.contact-area__info img {
    height: 15px;
    margin-right: 8px;
    position: relative;
    top: 1px;
}
.contact-area__info span {
    /* width: 570px; */
    line-height: 28px;
    font-size: 18px;    
}
.contact-area button {
    font-family: bebasFont;
    font-size: 18px;
    letter-spacing: 0.05em;
    width: 70px;
    height: 30px;
    border-radius: 4px;
    display: block;
    margin: 10px auto;
    transition-property: color;
    transition-property: background-color;
    /* transition-duration: 0.5s; */
    transition-duration: 1s;
    /* transition-delay: 2s; */
}
.contact-area button:hover {
    background-color: black;
    color: white;
}
@media (max-width: 855px) {
    .contact-area {
        width: 600px;
        flex-direction: column-reverse;
    }
    .contact-area__info {
        text-align: center;
        margin: 0 auto;
    }
    .contact-area__info h3, 
    .contact-area__info div {
        text-align: center;
    }
    .contact-area__form h3 {
        text-align: center;
    }
}
@media (max-width: 660px) {
    .contact-area,
    .contact-area__info,
    .contact-area__info div,
    .contact-area__form {
        margin: 0;
        width: 100vw;
    }
    .contact-area__form form {
        width: 85vw;
        margin: 0 auto;
    }
    .contact-area__form form input, 
    .contact-area__form textarea {
        width: 80vw;
    }
}

/* Buy page */
.buy-area {
    width: 1200px;
    margin: 20px auto;
    background: hsl(0, 0%, 90%);
    box-shadow: 5px 5px 5px 5px hsl(0, 0%, 80%);
    /* height: 300px; */
}
.buy-area h3 {
    font-family: bebasFont;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin: 5px;
    padding-top: 5px;
    padding-left: 5px;
}
.buy-area p {
    margin: 5px;
    padding-left: 5px;
}
.buy-area form {
    display: flex;
    /* flex-direction: column; */
    height: 200px;
}
.buy-area form span {
    width: 400px;
}
.buy-area input {
    font-family: bebasFont;
    font-size: 18px;
    height: 26px;
    /* line-height: 30px; */
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    margin: 5px auto;
    padding-left: 5px;
    padding-top: 3px;
    width: 370px;
}
.buy-area textarea {
    font-family: bebasFont;
    font-size: 18px;
    width: 370px;
    height: 140px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
}
.buy-area button {
    font-family: bebasFont;
    font-size: 18px;
    letter-spacing: 0.05em;
    width: 70px;
    height: 30px;
    border-radius: 4px;
    display: block;
    margin: 0px auto;
    transition-property: color;
    transition-property: background-color;
    /* transition-duration: 0.5s; */
    transition-duration: 1s;
    /* transition-delay: 2s; */
}
.buy-area button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 1200px) {
    .buy-area {
        width: 800px;
        height: 480px;
    }
    .buy-area form {
        flex-wrap: wrap; 
    }
    #third-span {
        width: 800px;
    }
    .buy-area textarea {
        display: block;
        width: 97%;
        margin: 0 auto;
    }
    .buy-area button {
        margin-top: 10px;
    }
}
@media (max-width: 800px) {
    .buy-area {
        width: 550px;
    }
    .column-inputs {
        width: 270px !important;
    }
    #third-span {
        width: 540px;
    }
    .buy-area input {
        width: 250px;
    }
}
@media (max-width: 570px) {
    .buy-area {
        width: 270px;
        height: 740px;
    }
    #third-span {
        width: 270px;
    }
    .buy-area textarea {
        width: 250px;
    }
}